:root {
	--dynamic-bg-color: #FF5A5A;
	--blue-color: #4183FF;
	--pink-color: #F870FF;
	--orange-color: #FE9C00;
	--yellow-color: #FEEA00;
	--green-color: #009C34;
	--red-color: #FF5A5A;
	--red-color-transparent: #FF5A5Aaa;

	--error-color: #FF5A5A;
	--grey-color: #505050;
	--light-grey-color: #dadada;
	--white-color: #ffffff;
	--black-color: #000;

	--pen-color: #000F55
}

button {
	padding: 12px; 
	border: 12px;
	padding-left: 36px;
	padding-right: 36px;
	outline: none;
	font-size: 17px;
	letter-spacing: 1px;
	border: none;
	border-radius: 40px;
	background-color: var(--light-grey-color); 
	cursor: pointer;
	opacity: .75;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 12px;
	flex-direction: row;
	transition: opacity 150ms ease-in-out;
}
button img {
	height: 18px
}
button:hover {
	opacity: 1;
}

h2 {
	letter-spacing: 1px;
}

.quote-text {
	margin-top: 20px;
	width: calc(100% - 20px);

	overflow: hidden;
	color: black;
	font-size: 28px;
	font-family: 'biro_script_standardregular';
}

.text-highlight-blue-bold {
	/* font-size: 25px; */
	display: inline-block;
	max-height: 277px;
	font-family: 'biro_script_standardbold';
	color: #000F55;
	margin-left: 4px;
	margin-right: 4;
}

.text-highlight-blue {
	font-size: 25px;
	display: inline-block;
	max-height: 27px;
	font-family: 'biro_script_standardregular';
	color: #000F55;
	margin-left: 4px;
	margin-right: 4;
}


.action-button {
	border: none;
	cursor: pointer;
	width: 100%;
	height: 40px;
	background-color: #F0F0F0EE;
	margin: auto;
	display: flex;
	border-radius: 12px;
	align-items: center;
	font-weight: 500;
	color: black;
	font-size: 16px;
	justify-content: center;

	font-weight: 700 !important;
	letter-spacing: 1px;
	transition: background-color 100ms ease-in-out;

	margin-bottom: 8px;
	margin-top: 8px;
}

.action-button:hover {
	background-color: #E0E0E0;
	transition: background-color 100ms ease-in-out;

}




a {
	text-decoration: none;
	color: blue;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	cursor: pointer;
	transition: background-color 100ms ease-in-out;
}

a:hover {
	color: var(--red-color);
	text-decoration: underline;
	transition: background-color 100ms ease-in-out;
}


/* 
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
} */

.text {
	max-width: 600px;
	margin-left: 20px;
	margin-right: 20px;
	text-align: justify;
	color: #000000;
	font-size: 18px;
	line-height: 28px;


}

.inline-handwriting {
	display: inline-block;
	height: 20px;
	font-size: 25px;
	display: inline-block;
	max-height: 20px;
	font-family: 'biro_script_standardregular';
	color: #000F55;
	margin-left: 4px;
	margin-right: 4px;
}

h1 {
	color: #000F55;
	user-select: none;
	font-family: 'biro_script_standardregular';
	font-size: 38px !important;
}

p {
	line-height: 24px; font-size: 17px; text-align: justify;
}

body,
html {
	font-family: 'Hanken Grotesk' !important;
	position: relative;
	background-color: white;
	padding: 0px!important; 
	margin: 0px!important;

	width: 100%;
}



